<footer class="container border-dark pb-4 mb-4">

  <div class="bg-dark pt-1 border-dark"></div>

  <div class="row mt-4">

    <div class="col-5 text-white">
      <p>© 2024</p>
    </div>

    <div class="col text-white">
      <h5>Section</h5>
      <ul class="list-unstyled">
        <li><a href="#" class="nav-link text-white">Home</a></li>
        <li><a href="#" class="nav-link text-white">Features</a></li>
        <li><a href="#" class="nav-link text-white">Pricing</a></li>
        <li><a href="#" class="nav-link text-white">FAQs</a></li>
        <li><a href="#" class="nav-link text-white">About</a></li>
      </ul>
    </div>

    <div class="col text-white">
      <h5>Section</h5>
      <ul class="list-unstyled">
        <li><a href="#" class="nav-link text-white">Home</a></li>
        <li><a href="#" class="nav-link text-white">Features</a></li>
        <li><a href="#" class="nav-link text-white">Pricing</a></li>
        <li><a href="#" class="nav-link text-white">FAQs</a></li>
        <li><a href="#" class="nav-link text-white">About</a></li>
      </ul>
    </div>

    <div class="col text-white">
      <h5>Section</h5>
      <ul class="list-unstyled">
        <li><a href="#" class="nav-link text-white">Home</a></li>
        <li><a href="#" class="nav-link text-white">Features</a></li>
        <li><a href="#" class="nav-link text-white">Pricing</a></li>
        <li><a href="#" class="nav-link text-white">FAQs</a></li>
        <li><a href="#" class="nav-link text-white">About</a></li>
      </ul>
    </div>

  </div>

</footer>