<section id="inicio" class="bg-danger">

  <div class="container text-white">
    <h3 class="text-center">Area de fotos</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias laborum deleniti quibusdam aliquam ratione
      dolore, fugit minus ut adipisci reprehenderit soluta architecto quas placeat fugiat porro molestiae totam nulla
      quo?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias laborum deleniti quibusdam aliquam ratione
      dolore, fugit minus ut adipisci reprehenderit soluta architecto quas placeat fugiat porro molestiae totam nulla
      quo?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias laborum deleniti quibusdam aliquam ratione
      dolore, fugit minus ut adipisci reprehenderit soluta architecto quas placeat fugiat porro molestiae totam nulla
      quo?
    </p>
    <button class="btn btn-primary">Go somewhere</button>
  </div>

</section>

<section class="container-fluid mt-4 mb-4">

  <div class="row">
    <div class="card bg-black text-white m-4 col-4 col-md-3">
      <img class="card-img-top" src="../../../assets/IMG/4.png" />
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card and make up the bulk of the card's content
        </p>
      </div>
    </div>
    <div class="card bg-black text-white m-4 col-4 col-md-3">
      <img class="card-img-top" src="../../../assets/IMG/4.png" />
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card and make up the bulk of the card's content
        </p>
      </div>
    </div>
    <div class="card bg-black text-white m-4 col-4 col-md-3">
      <img class="card-img-top" src="../../../assets/IMG/4.png" />
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card and make up the bulk of the card's content
        </p>
      </div>
    </div>
    <div class="card bg-black text-white m-4 col-4 col-md-3">
      <img class="card-img-top" src="../../../assets/IMG/4.png" />
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card and make up the bulk of the card's content
        </p>
      </div>
    </div>
  </div>

</section>

<section>

  <div class="card mb-3 bg-black text-white">
    <div class="row g-0">
      <div class="col-4 d-flex justify-content-start">
        <img src="../../../assets/IMG/tec.png" class="img-fluid" alt="Card title" />
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title text-center">Card title</h5>
          <p class="card-text text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sapiente, ad dolor accusamus numquam odio
            alias, quam nostrum architecto quae eius! Eaque nostrum optio deleniti pariatur molestiae laudantium vel
            expedita?
          </p>
          <p class="card-text text-center">
            <a name="" id="" class="btn btn-primary" href="#" role="button">Go somewhere</a>

          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 bg-black text-white">
    <div class="row g-0">
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title text-center">Card title</h5>
          <p class="card-text text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sapiente, ad dolor accusamus numquam odio
            alias, quam nostrum architecto quae eius! Eaque nostrum optio deleniti pariatur molestiae laudantium vel
            expedita?
          </p>
          <p class="card-text text-center">
            <a name="" id="" class="btn btn-primary" href="#" role="button">Go somewhere</a>

          </p>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-end">
        <img src="../../../assets/IMG/tec.png" class="img-fluid float-right" alt="Card title" />
      </div>      
    </div>
  </div>

</section>

<section class="bg-primary">
  <!-- Banner -->
  <div class="img-fluid">
    <img src="../../../assets/IMG/5.jpg" class="w-100" />
  </div>

  <div class="container text-white">
    <h4 class="text-center">ABOUT</h4>
    <svg xmlns="http://www.w3.org/2000/svg" width="8em" height="8em" viewBox="0 0 24 24">
      <path fill="white" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
        d="m8.587 8.236l2.598-5.232a.911.911 0 0 1 1.63 0l2.598 5.232l5.808.844a.902.902 0 0 1 .503 1.542l-4.202 4.07l.992 5.75c.127.738-.653 1.3-1.32.952L12 18.678l-5.195 2.716c-.666.349-1.446-.214-1.319-.953l.992-5.75l-4.202-4.07a.902.902 0 0 1 .503-1.54z" />
    </svg>
    <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files
      including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy cusomization.</p>
    <p>You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email
      address to the contact form to make it fully functional!</p>
    <div class="text-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="8em" height="8em" viewBox="0 0 512 512">
        <path fill="currentColor"
          d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32v242.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64h384c35.3 0 64-28.7 64-64v-32c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352zm368 56a24 24 0 1 1 0 48a24 24 0 1 1 0-48" />
      </svg>
      <p>Free Download!</p>
    </div>

  </div>
</section>

<section id="contacto" class="mt-4 mb-4">

  <div class="container bg-dark">
    <h3 class="text-center text-primary pt-4">Get in touch</h3>
    <div class="container w-75 align-content-center text-center text-white pb-4">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias laborum deleniti quibusdam aliquam ratione
        dolore, fugit minus ut adipisci reprehenderit soluta quas fugiat porro molestiae totam nulla
        quo? <a href="#" class="text-primary">Download Now.</a>
      </p>
    </div>

    <div class="row">

      <form class="container w-50 col">
        <div class="form-group">
          <input type="text" class="form-control bg-black text-white w-100 mt-4" placeholder="Your Name">
          <input type="email" class="form-control bg-black text-white w-100 mt-4" placeholder="Enter Your Email">
          <textarea class="form-control bg-black text-white w-100 mt-4" placeholder="Your Message"></textarea>
          <button class="btn btn-primary bg-black text-primary w-100 mt-4">Submit</button>
        </div>
      </form>

      <div class="container w-50 col">
        <div class="text-white bg-black p-3 mt-4 mb-4">
          <h4>Address</h4>
          <p>123 Street New York, USA</p>
        </div>
        <div class="text-white bg-black p-3 mt-4 mb-4">
          <h4>Mail Us</h4>
        </div>
        <div class="text-white bg-black p-3 mt-4 mb-4">
          <h4>Telephone</h4>
          <p>+012 3456 7890</p>
        </div>
      </div>

    </div>

  </div>

</section>